@model IEnumerable<Hotel.Models.Room>

@*@{
    ViewData["Title"] = "Index";
}*@

@{
    Layout = null;
}
<link href="~/css/user/user/css/bootstrap.min.css" rel="stylesheet">

<link href="~/css/user/user/css/bootstrap-icons.css" rel="stylesheet">

<link href="~/css/user/user/css/user.css" rel="stylesheet">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)

                   

            </td>
                
            <td>
                 <a asp-controller="Rooms" asp-action="RoomServiceU " asp-route-id="@item.RoomId">Add Room</a>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
