@model Hotel.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicequantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicequantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceunitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceunitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
