@model IEnumerable<Hotel.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicequantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceunitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicequantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceunitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
